body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
  background-color: #EEEEEE;
  font-family: 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
  background: url("../images/main-page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* index.html */

.profile-img {
  border-radius: 100px;
  height: 100px;
  width: auto;
}
.cards {
  width: 100%;
}

.card {
  border-radius: 20px;
  opacity: .7;
}
.card:hover {
  opacity: 1;
}
.card-size {
  max-width: 650px;
  min-height: 300px;
}
.siteName {
  position: relative;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}
.sidenav-overlay {
  background-color: white;
}
.fixed {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .center {
      margin: auto;
      width: 90%;
      padding: 10px;
      font-size: 25px;
  }
  .cards {
      height: 10px;
  }
  .website-img {
    height: 300px;
  }
}
@media screen and (min-width: 480px) {
    .center {
        margin: auto;
        font-size: 80px;
        width: 30%;
        padding: 10px;
    }
    .cards {
        height: 200px;
    }
    .website-img {
      height: 500px;
    }
}
.paragraph-row {
  overflow-wrap: normal;
  margin-top: -50px;
}
.website-img {
  margin-top: -20px;
}
.site-btn {
  margin-top: -10px;
  margin-bottom: 10px;
}
#welcome {
    position: relative;
    color: white;
    margin-top: 25px;
    background: #0074D9;
    opacity: .8;
    border-radius: 50px;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}
#welcome.index {
  top: 40px;
}
#welcome.projects {
  top: 40px;
}
#margin-top {
  margin-top: -125px;
}
#view-projects {
  position: relative;
  top: -10px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .8; }
}
/* end of index.html */
