body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
  background-color: #EEEEEE;
  font-family: 'Helvetica', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
  color: #666666;
  background: url("../images/main-page.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* index.html */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
.nav {
  grid-row: 1;
  grid-column: 1 / 5;
}
.card-size {
  max-width: 650px;
  min-height: 300px;
}
.siteName {
  position: relative;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}
.sidenav-overlay {
  background-color: white;
}
.fixed {
  position: fixed;
}
/* end of index.html */
